body{
    background: rgb(2,0,36);
    background: linear-gradient(24deg, rgba(2,0,36,1) 0%, rgba(2,0,37,1) 8%, rgba(4,3,63,1) 28%, rgba(9,9,121,1) 35%, rgba(8,21,129,1) 39%, rgba(4,124,197,1) 72%, rgba(3,155,218,1) 82%, rgba(0,204,255,1) 95%, rgba(0,212,255,1) 100%);
}

.P-component {
    text-align: left;
}

.mainTitle {
    font-family: "Ubuntu", sans-serif;
    margin-top: 40px;
}

.separador {
    margin-top: 25px;
}

.comp-Title {
    color: rgba(19, 30, 70, 0.687);
    font-family: "Ubuntu", sans-serif;
}

.comp-Text {
    color: black;
    font-family: "Ubuntu", sans-serif;
}

.right-Title{
    text-align: right;
    margin-right: 5%;
}
.left-Title{
    text-align: left;
    margin-left: 5%;
}
.right-Text{
    text-align: right;
    direction: rtl;
}
.left-Text{
    text-align: left;
}
.right-ul{
    background-position: left;
    padding-right: 6%;
}